* {
    padding: 0;
    margin: 7px;
    box-sizing: border-box;
}
body {
    background-color: rgb(238, 243, 247);
    padding: 16px;
}
.main {
   width: 420px;
   border-radius: 20px;
   background-color: white;
   height: 426px;
   
   }
.reg {
    width: 388px;
    height: 370px;
    padding: 0px, 16px, 16px, 16px;
    
}
.adds {
    color: #7B8E98;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    width: 300px;
}

.form_input_imail {
    width: 356px;
    height: 48px;
    padding: 7px, 16px, 7px, 16px;
    border-radius: 12px;
}

.form_inpet_password {
    width: 356px;
    height: 48px;
    padding: 14px, 16px, 14px, 16px;
    border-radius: 12px;

}
.reg1 {
    width: 356px;
    height: 48px;
    padding: 14px, 24px, 14px, 24px;
    border-radius: 55px;
    background-color: #FFE44D;
    border-color: white;
    
    }

.login {
    width: 356px;
    height: 48px;
    padding: 14px, 24px, 14px, 24px;
    border-radius: 87px;
    border: 1px solid #CFD8DC;
    gap: 10px;
    background-color:  white;
    
}
.text_header {
    margin: 16px;
}
.x {
    width: 388px;
    /* height: 24px; */
    padding: 0px, 0px, 0px, 364px;
    /* margin: 24px; */
    font-size: 30px;
    text-align: end;
    /* border: 1px solid red; */
}